<div class="nav" id="navbar">
  <nav class="nav__container">
    <div>
      <a href="#" class="nav__link nav__logo">
        <i class="bx bxs-disc nav__icon"></i>
        <span class="nav__logo-name">CMS</span>
      </a>

      <div class="nav__list">
        <div class="nav__items">
          <h3 class="nav__subtitle">Dashboard</h3>

          <a href="#" class="nav__link active">
            <i class="bx bx-home nav__icon"></i>
            <span class="nav__name">Home</span>
          </a>

          <div class="nav__dropdown">
            <a href="#" class="nav__link">
              <i class="bx bx-folder nav__icon"></i>
              <span class="nav__name">Collections</span>
              <i class="bx bx-chevron-down nav__icon nav__dropdown-icon"></i>
            </a>

            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a href="#" class="nav__dropdown-item">Blog</a>
                <a href="#" class="nav__dropdown-item">Articles</a>
                <a href="#" class="nav__dropdown-item">Podcasts</a>
                <a href="/sponsors/" class="nav__dropdown-item">Sponsors</a>
                <a href="#" class="nav__dropdown-item">Members</a>
              </div>
            </div>
          </div>

          <a href="#" class="nav__link">
            <i class="bx bx-message-rounded nav__icon"></i>
            <span class="nav__name">Comments</span>
          </a>
        </div>

        <div class="nav__items">
          <h3 class="nav__subtitle">Menu</h3>

          <div class="nav__dropdown">
            <a href="#" class="nav__link">
              <i class="bx bx-bell nav__icon"></i>
              <span class="nav__name">Global</span>
              <i class="bx bx-chevron-down nav__icon nav__dropdown-icon"></i>
            </a>

            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a href="#" class="nav__dropdown-item">SEO</a>
                <a href="#" class="nav__dropdown-item">Header</a>
                <a href="#" class="nav__dropdown-item">Links</a>
                <a href="#" class="nav__dropdown-item">Footer</a>
              </div>
            </div>
          </div>

          <a href="#" class="nav__link">
            <i class="bx bx-compass nav__icon"></i>
            <span class="nav__name">Explore</span>
          </a>
          <a href="#" class="nav__link">
            <i class="bx bx-bookmark nav__icon"></i>
            <span class="nav__name">Saved</span>
          </a>
          {% if user.role == 'Admin' %}
          <a href="{% url 'users-view' %}" class="nav__link">
            <i class="bx bx-user nav__icon"></i>
            <span class="nav__name">Admin</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>

    <a href="{% url 'logout-view' %}" class="nav__link nav__logout">
      <i class="bx bx-log-out nav__icon"></i>
      <span class="nav__name">Log Out</span>
    </a>
  </nav>
</div>
